<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Villes</servlet-name>
    <servlet-class>main.java.com.servlets.Villes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Villes</servlet-name>
    <url-pattern>/villes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>InfoVille</servlet-name>
    <servlet-class>main.java.com.servlets.InfoVille</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoVille</servlet-name>
    <url-pattern>/infoville</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DistanceVilles</servlet-name>
    <servlet-class>main.java.com.servlets.DistanceVilles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistanceVilles</servlet-name>
    <url-pattern>/distancevilles</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AjouterVille</servlet-name>
    <servlet-class>main.java.com.servlets.AjouterVille</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterVille</servlet-name>
    <url-pattern>/ajouterville</url-pattern>
  </servlet-mapping>
</web-app>