@charset "UTF-8";

.container-img img {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.container-img:hover img {
	transform: rotate(5deg) scale(1.2);
}

.container-imgEseo img {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.container-imgEseo:hover img {
	transform: rotate(0deg) scale(1.08);
}

.navbar-custom .navbar-nav .nav-link {
	color: #FAFAFF;
	font-size: 25px !important;
}

.navbar-custom {
	background: linear-gradient(90deg, #5a4d9b, #68c6df);
}

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link
	{
	color: white;
	font-weight: bold;
}

.custom-toggler.navbar-toggler {
	border-color: #FAFAFF;
}

.custom-toggler .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FAFAFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}